 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #e8f3fa;
      display: flex;
    }
    .sidebar {
      width: 240px;
      background: #f7f9fc;
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
      border-right: 1px solid #d8e2ee;
    }
    .sidebar h1 {
      margin-top: 0;
      margin-bottom: 50px;
      font-size: 20px;
      color: #244376;
    }
    .sidebar a {
    text-decoration: none;
    }

    .nav-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
      cursor: pointer;
      color: #244376;
      font-size: 16px;
    }
    .main {
      flex: 1;
      padding: 40px;
    }
    .header {
      font-size: 32px;
      font-weight: 600;
      color: #1b4e9b;
    }
    .header span {
      color: #0a6bff;
    }
    .subheader {
      font-size: 18px;
      margin-top: 10px;
      color: #244376;
    }
    
     .btn {
      background: #0a6bff;
      border: none;
      padding: 10px 14px;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 10 px;
    }